* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';

}

.corpo {
    display: flex;
}

/* sidebar */


#sidebar {
    width: 260px;
    min-width: 70px;
    height: 100vh;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #000;
    align-items: center;
    gap: 10%;
}

#sidebar div.menu i {
    color: #fff;
    
}

.sidebar-logo img {
    width: 120px;
    height: 100px;
    margin-top: 30px;
}

.menu {
    display: block;
    left: 0;
}

.sidebar-nav {
    list-style: none;
    width: 250px;
    
}

.sidebar-item {
    padding: 10px;
    width: 250px;
    
}

.sidebar-item:hover {
    background: linear-gradient(90deg, #C00000 0%, #5A0000 100%);
    border-left: 5px white solid;

}



.sidebar-item button {
    background: none;
    color: #fff;
    border: none;
    width: 100%;
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 250px;
    padding: 10px;
    text-align: center;
    
   
}

.sidebar-footer a {
    text-decoration: none;
    color: black;
}

.sidebar-footer a i {
    text-decoration: none;
    color: black;
}


button#logout {
    background: white;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}


#logout {
    color: #000000;
}


/* Corpo pag */

.content {
    color: rgb(255, 255, 255);
    width: 85vw;
    text-align: center;
    justify-content: center;
    gap: 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(117deg, #940101 6.2%, #921313 24.69%, #E01111 95.7%);
    mix-blend-mode: plus-darker;


}

.lista {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 50px ;

}

table {
    border-collapse: separate;
    border-spacing: 50px; /* Espaçamento desejado entre as linhas */
    

    th, td {
        line-height: 1; /* Define a altura da linha para o mínimo possível */
    }
}



form {
    display: flex;
    justify-content: space-between;
    color: #000;
    font-weight: 700;
    #items {
        display: flex;
        flex-direction: row;
        gap: 15px;


    
        div>input {
            background-color: white;
            border: none;
            border-radius: 30px;
            padding: 0 12px;
            height: 35px;
            width: 300px;
        }
    }

}

button {
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 30px;
    width: 120px;
    height: 30px;
}



.selecionado {
    background: linear-gradient(90deg, #C00000 0%, #5A0000 100%);/* Por exemplo, mude a cor de fundo para azul */
    border-left: 5px white solid;

}