* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    list-style: none;
  
}

html {
    scroll-behavior: smooth;
}

:root {
    --bg-color: ##3f3d3d;
    --tex-color: #fff;
    --main-color: #c9f30f;
    --other-color: #fcfcfc;
    --h1-font: 4rem;
    --p-font: 1rem;
}

body {
    background-color: #000000;
    color: var(--tex-color);
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 8%;
    height: 100px;
}

/* LOGO - INFRATECH-UNEX */
.logo {
    width: 100px;
}




.navegacao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navegacao a {
    color: #fff;
    font-size: var(--p-font);
    font-weight: 5000;
    margin: 0 20px;
    text-decoration: none;
    transition: color 0.55s ease;
}

/* Navegação - Visão, Destaque, Avaliações e Contate-nos */
.navegacao a:hover {
    color: #ff0000;
}

.header-icons {
    display: flex;
    align-items: center;
}

/* button login */
#menu {
    font-size: 35px;
    color: #fff;
    cursor: pointer;
}

.header-icons button {
    margin-right: 50px;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.5s ease;
    background: #ffff;
    border: none;
    border-radius: 30px;
    width: 4.5em;
    font-family: poppins;
    font-weight: 700;
    
}

/* Icones carrinho e pontos */
.header-icons i:hover {
    transform: translateY(-5px);
    color: #ff0000;
}

.section {
    padding: 0 15%;
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

/* Centraliza o texto */
.home-text {
    max-width: 500px;
    text-align: center; 
}

.home-text h1 {
    font-size: var(--h1-font);
    line-height: 1.2;
    margin-bottom: 10px;
}

.home-text h5 {
    color: #ffffff99;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.home-text h3 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Ajuste esse valor conforme necessário */
.home-img {
    display: flex;
    justify-content: center;
    margin-top: -70px; 
}

/* Ajusta a largura da imagem */
.home-img img {
    max-width: 100%;
    width: 70%; 
    height: auto;
    border-radius: 30px;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    border: 1px solid var(--tex-color);
    transition: all 0.8s ease;
    color: #fff;
    margin-top: 20px;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid white;
    color: #ffffff;
    transition: all 0.8s ease;
}

.main {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.main li img {
    width: 50px;
    height: auto;
    max-width: 100%;
}

.testimonial {
    text-align: center;
    padding: 80px 0;
}

.testimonial h3 {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.features {
    background-color: var(--bg-color);
    padding: 80px 0;
    text-align: center;
}

.features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}



.body {
    margin: 0;
    padding: 0;
}

.header-wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #e9c707;
}

.avaliacoes {
    background-color: #3f3d3d;
    padding: 40px 0;
    text-align: center;
    margin-bottom: 10px;
}

.avaliacoes-container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #28302f; /* ou a cor desejada */
    padding: 20px;
    border-radius: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.avaliacoes h3 {
    color: #ffffff; /* ou a cor desejada */
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.avaliacao {
    text-align: center;
    margin-top: 20px; /* Ajuste o espaçamento entre as avaliações conforme necessário */
}

.avaliacao p {
    font-size: 16px;
    margin-bottom: 10px;
}

.avaliacao p.author {
    margin-top: 10px;
    font-style: italic;
    color: #777; /* ou a cor desejada */
}


.contato {
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: auto 15px;
    height: 17vh;

}  

ion-icon {
    color: yellow;
}
 









.feature {
    display: flex;
    
    margin-top: 20px;
    max-width:800px ;
}

.feature div {
    display: flex;
    justify-content: center;
    align-items: center;

}

img.carinha {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}


