<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- font start -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!-- font end -->
  <link rel="stylesheet" href="/static/css/login.css">
  <link rel="shortcut icon" href="/images/INFRATECH.png" type="image/x-icon">
  <title>Login</title>
</head>
<body>
  <div id="tituloId">
    <img id="titulo" src="/images/INFRATECH.png" alt="">
    <div class="buttons">
      <button id="button" type="submit" onclick="voltarParaIndex()">INÍCIO</button>
      <button id="button" type="submit" >FALE CONOSCO</button>
      
    </div>
  </div>

  
  <div class="login">
    <div class="container">
      <div class="login_text">
        <h3>Login</h3>
      </div>
      
      
      <div id="form">
        <form action="/login" method="POST">
          <div class="input-wrapper">
            <label for="login" id="textoUm">E-mail: </label>
            <input type="text" id="login" name="login" placeholder="Insira seu e-mail" required/>
          </div> <!-- Login -->

          <div class="input-wrapper">
            <label for="senha" id="textoDois">Senha: </label>
            <input type="password" name="senha" id="senha" placeholder="Insira sua senha" required/>
          </div> <!-- Senha  -->

          <div class="senha_certa">
            <p>Senha errada. Por favor, tente novamente</p>
          </div> 

          <div class="extrabuttons">

            <button type="submit" onclick="telaRedef()">Esqueceu a senha?</button>
            <button type="submit">Não possui cadastro?</button> 

          </div>

          <div class="submit">
            <button type="submit" id="buttonEnvio" onclick="portal()">Login</button>
          </div> <!-- Login Submit -->
          
        </form>
      </div>
      

    </div>
  </div>
  
  
<script src="/static/js/login.js"></script>
</body>
</html>
